<!--                    ###########
                    ###################
               ############## ##############
          #############   ,~~~~~,   #############
     #############        | OMB |        #############
  ###########             |OFCIO|             ###########
 #######                  '~~~~~'                   #######
 #########################################################
     #################################################
         =========       =========       =========
         |     oo|       |     oo|       |     oo|
         |===== .|       |===== .|       |===== .|
         |===== .|       |===== .|       |===== .|
         |===== .|       |===== .|       |===== .|
         |===== .|       |===== .|       |===== .|
         |===== .|       |===== .|       |===== .|
         |-------|       |-------|       |-------|
         | XXXXX |       | XXXXX |       | XXXXX |
         | XXXXX |       | XXXXX |       | XXXXX |
         =========       =========       =========
      ###############################################
    ############  _____   ____   ____  __  ############
   ############  |  __ ',' __ '.' __ '|  |  ############
   ############  | |  | | ,  '-| |  | |  |  ############
   ############  | |__' | '__,-| '__' |  |  ############
   ############  |_____,',____,,'____'|__|  ############
   #############                           #############
   ##################################################-->